Данным проектом руководит Антон Белов. Телеграм для связи: @Anton_Belov_777. Вы можете подавать мне свои идеи по проекту и уточнять детали.

Презентацию по проекту вы можете найти по ссылке: https://github.com/catboy1989/goncharov_education/blob/main/presentation.md

Любой желающий может добавить свой код в проект. 

Для этого нужно:
-  пройти по ссылке: https://github.com/catboy1989/goncharov_education/blob/main/tasks.md
-  выбрать подходящую вам задачу, написать по ней свой код, сделать pull-request к проекту

Дедлайн проекта установлен на 15.10.2023, поэтому разработка должна вестись максимально быстро. 
Срок выполнения любой задачи не должен превышать 48 часов. Выбирайте простые быстрые решения (может даже немного костыльные). 
Главная задача: чтобы всё работало.
Если несколько человек возьмутся за одну задачу, то в финальной версии проекта будет стоять лучшее решение. 
Весь присланный и не попавший в финальную версию код останется в архиве проекта с пометкой о том, кто его написал и для чего его можно использовать.

После того, как вы сделали pull-request, напишите мне в телеграм @Anton_Belov_777, чтобы мы с вами могли обсудить ваши изменения.
Будьте готовы к тому, что ваш код будет отправлен на доработку (это может произойти, потому что что-то в нём не работает или просто нужно поменять структуру каталогов)
